version: '2.1'
orbs:
  node: circleci/node@4.6.0
  coveralls: coveralls/coveralls@1.0.6
jobs:
  unit_tests_coverage:
    executor:
      name: node/default
      tag: '15.11'
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: yarn
      - run:
          command:
            yarn coverage
      - coveralls/upload:
          parallel: true
  integration_tests_coverage:
    executor:
      name: node/default
      tag: '15.11'
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: yarn
      - run:
          command:
            yarn coverage:integration
      - coveralls/upload:
          parallel: true
  unit_tests:
    executor:
      name: node/default
      tag: '15.11'
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: yarn
      - run:
          command: yarn test
  solhint:
    executor:
      name: node/default
      tag: '15.11'
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: yarn
      - run:
          command: |
            yarn solhint
            yarn lint-check
  coverage:
    executor:
      name: node/default
      tag: '15.11'
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: yarn
      - run:
          command:
            yarn coverage
      - coveralls/upload
      - store_artifacts:
          path: coverage
          prefix: coverage
  integration_tests:
    executor:
      name: node/default
      tag: '15.11'
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: yarn
      - run:
          command:
            yarn test:integration
  save_and_upload_coverage_artifacts:
    executor:
      name: node/default
      tag: '15.11'
    steps:
      - coveralls/upload:
          parallel_finished: true
      - store_artifacts:
          path: coverage
          prefix: coverage
  localDeployment:
    executor:
      name: node/default
      tag: '15.11'
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: yarn
      - run:
          command:
            yarn deploy-ci
  localDeploymentForkMainnet:
    executor:
      name: node/default
      tag: '15.11'
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: yarn
      - run:
          command:
            yarn deploy-ci:fork:mainnet
  runMythX-Pool:
    executor:
      name: node/default
      tag: '15.11'
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: yarn
      - run:
          command: |
            sudo apt update
            sudo apt install python3-pip
            sudo yarn mythx-install
            yarn mythx-pool
  runMythX-AMM:
    executor:
      name: node/default
      tag: '15.11'
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: yarn
      - run:
          command: |
            sudo apt update
            sudo apt install python3-pip
            sudo yarn mythx-install
            yarn mythx-amm

workflows:
  code_coverage:
    jobs:
      - unit_tests_coverage:
          context: 
            - Coveralls
      - integration_tests_coverage:
          context: 
            - Coveralls
      - save_and_upload_coverage_artifacts:
          context: 
            - Coveralls
          requires:
              - unit_tests_coverage
              - integration_tests_coverage
  unit_tests:
    jobs:
      - unit_tests
  integration_tests:
    jobs:
      - integration_tests
  solhint:
    jobs:
      - solhint
  test_local_deployment:
    jobs:
      - localDeployment
  test_local_deployment_fork_mainnet:
    jobs:
      - localDeploymentForkMainnet
  mythx_pool:
    jobs:
      - runMythX-Pool
  mythx_amm:
    jobs:
      - runMythX-AMM

notify:
  webhooks:
    - url: https://coveralls.io/webhook?repo_token=${COVERALLS_REPO_TOKEN}
